<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/weiwang.png" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'> 
			<h3>
				Wei Wang 王伟
			</h3>
			<p>
			I received my Ph.D Degree in Multimedia and Human Understanding Group <a href="http://mhug.disi.unitn.it/index.php/people/">MHUG</a> at the Department of Electrical and Computer Engineering, Univeristy of Trento, Italy. My supervisor was <a href="http://disi.unitn.it/~sebe/">Prof. Nicu Sebe</a>, and I was co-supervised by <a href="https://scholar.google.it/citations?user=zhi-j1wAAAAJ&hl=en">Doc. Yan Yan</a>. My research area is deep learning and its applications in computer vision and multimedia.
			Now I'm working as a postdoc in <a href="https://cvlab.epfl.ch/">CVLab</a> at EPFL, working with <a href="https://people.epfl.ch/cgi-bin/people?id=112366&op=bio&lang=en&cvlang=en">Prof. Pascal Fua</a> and <a href="https://people.epfl.ch/cgi-bin/people?id=119864&op=bio&lang=en&cvlang=en">Dr. Mathieu Salzmann</a>.
			During my Ph.D study, I was fortunate to visit <a href="http://www.lv-nus.org/">Learning and Vision group</a>, National University of Singapore in 2015 and 2016, working with <a href="https://scholar.google.com.au/citations?user=DNuiPHwAAAAJ&hl=en">Prof. Shuicheng Yan</a> and <a href="https://scholar.google.com.au/citations?user=Q8iay0gAAAAJ&hl=en">Prof. Jiashi Feng</a>.
<!--			My research areas are noncovex/convex optimization, deep learning, compressed sensing, etc.
-->
			</p>&nbsp
			<p>
			</p>&nbsp
			<p>
			
			<h4>Research</h4> I am interested in face analysis (face landmark localization, face aging, expression analysis), human action understanding (multiview action recongnition) and hand segmentation.
			</p>
<!--
			<a href="mailto: wangwei1990 AT gmail DOT com"><i class="fa fa-envelope"></i> &nbsp; wangwei1990 AT gmail DOT com</a>
			
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			
			<a href="https://scholar.google.com.sg/citations?hl=en&user=0b7ZqlcAAAAJ" target="_blank"><i class="fa fa-globe"></i> &nbsp; Google Scholar</a>
			-->
			{% if site.email %}
				 <a href="mailto: {{site.email}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %} 
			{% if site.website %}
				&nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
                &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp&nbsp
				<a  href="https://scholar.google.com/citations?hl=en-US&user=k4SdlbcAAAAJ" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website}}</a>
			{% endif %} 
			
	</div>
</div>
