<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/weiwang.png" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'> 
			<h3>
				Wei Wang 王伟
			</h3>
			<p>
			Scientist (Postdoc)
			</p>
			<p>
			<a href="https://cvlab.epfl.ch/">CVLab</a>, <a href="https://www.epfl.ch/en/">EPFL</a>
			</p>
			<p>
			<strong>EPFL IC IINFCOM CVLAB</strong>,
			BC 307 (Bâtiment BC),
			Station 14, 
			CH-1015 Lausanne.
			</p>
			<p>
			Phone: +41 21 693 64 62
			</p>
			<p>
			<a href="mailto:wei.wang@epfl.ch" class="btn btn-sm btn-primary">wei.wang@epfl.ch</a>
			<span class="people-btn"><a href="mailto:wangwei1990@gmail.com" class="btn btn-sm btn-primary">wangwei1990@gmail.com</a></span>
			</p>
			<h3 style="padding-top:-5px"></h3>
		        <a href="https://scholar.google.com/citations?hl=en-US&user=k4SdlbcAAAAJ" target="_blank"><i class="fa fa-globe"></i> &nbsp; Google Scholar</a>
	</div>
</div>

<div class='positions'>
<h3>About Me</h3>
<p>
I received Ph.D Degree from <a href="http://mhug.disi.unitn.it/index.php/people/">Univeristy of Trento</a>, Italy. My supervisor was Prof. <a href="http://disi.unitn.it/~sebe/">Nicu Sebe</a>, and I was co-supervised by Doc. <a href="https://scholar.google.it/citations?user=zhi-j1wAAAAJ&hl=en"> Yan Yan</a>. 
Now I'm working as a postdoc in <a href="https://cvlab.epfl.ch/">CVLab</a> at EPFL, working with Prof. <a href="https://people.epfl.ch/cgi-bin/people?id=112366&op=bio&lang=en&cvlang=en">Pascal Fua</a> and Dr. <a href="https://people.epfl.ch/cgi-bin/people?id=119864&op=bio&lang=en&cvlang=en">Mathieu Salzmann</a>.
I was a visiting student from 2015 to 2016 in the Learning and Vision (LV) Research Group at National University of Singapore (NUS), working with Prof. <a href="https://www.ece.nus.edu.sg/stfpage/eleyans/">Shuicheng Yan</a> and Prof. <a href="https://sites.google.com/site/jshfeng/">Jiashi Feng</a>.
</p>
</div>

<div class='researchInt'>
	<h3>Research Interests</h3>
	<p>Face analysis, human action understanding, augmented reality (AR), segmentation, deep learning algorithm optimization problems, etc.</p>
</div>
