<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/weiwang.png" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'> 
			<h3>
			Wei Wang
			</h3>
			<p>
			<strong>Assistant Professor (RTDa) </strong>
			</p>
			<p>
			<a href="https://www.disi.unitn.it/">Department of Information Engineering and Computer Science</a>
			</p>
		        <p>
			<a href="https://www.unitn.it/en">Univeristy of Trento</a>
			</p>
			<p>
			via Sommarive 14, 38100 Povo, Trento, Italy
			</p>
			<p>
			<a href="mailto:wei.wang@unitn.it" class="btn btn-sm btn-primary">wei.wang[at]unitn.it</a>
			<span class="people-btn"><a href="mailto:wangwei1990@gmail.com" class="btn btn-sm btn-primary">wangwei1990[at]gmail.com</a></span>
			</p>
			<h3 style="padding-top:-5px"></h3>
		        <a href="https://scholar.google.com/citations?hl=en-US&user=k4SdlbcAAAAJ" target="_blank"><i class="fa fa-globe"></i> &nbsp; Google Scholar</a>
	</div>
</div>

<div class='positions'>
<h3>About Me</h3>
<p>
I am currently an Assitant Professor (RTDa) in the <a href="https://www.disi.unitn.it/">Department of Information Engineering and Computer Science</a> at <a href="https://www.unitn.it/en">Univeristy of Trento</a>, Italy. 
I was a Postdoctoral Research Fellow in <a href="https://cvlab.epfl.ch/">CVLab</a> at <a href="https://www.epfl.ch/en/">EPFL<a>, working with Prof. <a href="https://people.epfl.ch/cgi-bin/people?id=112366&op=bio&lang=en&cvlang=en">Pascal Fua</a> and Dr. <a href="https://people.epfl.ch/cgi-bin/people?id=119864&op=bio&lang=en&cvlang=en">Mathieu Salzmann</a>.
I received Ph.D Degree from Univeristy of Trento, Italy. My supervisor was Prof. <a href="http://disi.unitn.it/~sebe/">Nicu Sebe</a> and I was co-supervised by Prof. <a href="https://scholar.google.it/citations?user=zhi-j1wAAAAJ&hl=en"> Yan Yan</a>
I was a visiting student from 2015 to 2016 in the Learning and Vision (LV) Group at National University of Singapore (NUS), working with Prof. <a href="https://www.ece.nus.edu.sg/stfpage/eleyans/">Shuicheng Yan</a> and Prof. <a href="https://sites.google.com/site/jshfeng/">Jiashi Feng</a>.
</p>
</div>

<div class='researchInt'>
	<h3>Research Interests</h3>
	<p>Face analysis, human action understanding, augmented reality (AR), segmentation, optimization problems, etc.</p>
</div>
