<h3>
	<a name='publications'></a> News
</h3>
<div class='news'>
	<ul>
		<li><i class="fa fa-flag"  color="#FF0000"
	    aria-hidden="true"></i>I will give a talk at ATypI (Association Typographique Internationale) (05-05-2021) about the applicaiton of AI in Font Design.
			ATypI is the global forum and focal point for the type community and business.
		</li>
		<li><i class="fa fa-flag"  color="#FF0000"
	    aria-hidden="true"></i>One IEEE TPAMI was accepted (31-03-2021).
		</li>
	    	<li><i class="fa fa-flag"  color="#FF0000"
	    aria-hidden="true"></i>I'm happy to serve as the Associate Editor of ICPR 2020.
		</li>
		<!--
	    <li><i class="fa fa-flag"  color="#FF0000"
	    aria-hidden="true"></i>One paper was accepted in ICME 2017.</li>
		-->
	</ul>
</div>
