<h3>
	<a name='publications'></a> News
</h3>
<div class='news'>
	<ul>
	    <li><i class="fa fa-flag"  color="#FF0000"
	    aria-hidden="true"></i>Two papers were accepted in TPAMI 2018.
		</li>
	    <li><i class="fa fa-flag"  color="#FF0000"
	    aria-hidden="true"></i>One paper was accepted in TIP 2018.
		</li>
	    <li><i class="fa fa-flag"  color="#FF0000"
	    aria-hidden="true"></i>Two papers were accepted in CVPR 2018.
		</li>
	    <li><i class="fa fa-flag"  color="#FF0000"
	    aria-hidden="true"></i>Two papers were accepted in ICCV 2017.
		</li>
		<!--
	    <li><i class="fa fa-flag"  color="#FF0000"
	    aria-hidden="true"></i>One paper accepted in ICME 2017.</li>
		-->
	</ul>
</div>
